<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let order of orderList" >
                <h1>{{order.date}}</h1>
            
        
              <div *ngFor = "let item of order.items">
              
             
                <p>      Brand:    {{item.brand}},  Product:    {{item.title}}, Price:      {{item.price}}
                </p>
       

</div>
<p>Account details: {{order.accountDetails | json}}</p>

             
<p>Shipping: {{order.shippingDetails | json}}</p>
    </div>
  </cdk-virtual-scroll-viewport>
