<div class=container center>
<div class="card">
    <div class="card-header">
      Manage Stock
    </div>
    <div class="card-body">
      <h5 class="card-title">Stock Management Panel</h5>
      <p class="card-text">  View stock, search and update stock</p>
      <a (click) = manageStock() class="btn btn-primary">Go to manager</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Manage Customers
    </div>
    <div class="card-body">
      <h5 class="card-title">Customer Management Panel</h5>
      <p class="card-text">View customer details and purchase hisrory</p>
      <a (click) = manageCustomers() class="btn btn-primary">Go to manager</a>
    </div>
  </div>
</div>