
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    
  
    
  <body>
    <main>
<div  class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Refine Items</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed">
          Category
        </button>
        <section class="example-section" >

        <div class="collapse show" id="home-collapse" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="form-check" *ngFor=" let item of stockList"> 
                <p>  <mat-checkbox (click)=categoryFilter(item.category)  value="{{item.category}" class="form-check">{{item.category}} 
                </mat-checkbox></p>
            </li> 

     
          </ul>
        </div>
        </section>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed">
          Title
        </button>
        <section class="example-section" >

        <div class="collapse show" id="home-collapse" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="form-check" *ngFor=" let item of stockList"> 
                <p>  <mat-checkbox  (click)=titleFilter(item.title) value="{{item.title}}" class="form-check">{{item.title}} 
                </mat-checkbox></p>
            </li> 

     
          </ul>
        </div>
        </section>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed">
          Manufacturer
        </button>
        <section class="example-section" >

        <div class="collapse show" id="home-collapse" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li class="form-check" *ngFor=" let item of stockList"> 
                <p>  <mat-checkbox (click)=manufacturerFilter(item.manufacturer) value="{{item.manufacturer}}" class="form-check">{{item.manufacturer}} 
                </mat-checkbox></p>
            </li> 
          </ul>
        </div>

          
        </section>
    </li>
    <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" (click)="collapse1.toggle()" [attr.aria-expanded]="!isCollapsed">
          Sort By
        </button>
        <section class="example-section" >

        <div class="collapse show" id="home-collapse" #collapse1="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div > 
                <ul class="navbar-nav me-auto">
                  
                  <li class="nav-item">
                    
                    <button  mat-button class="nav-link" (click)="sortByTitle()">   Title Ascending </button>
                  </li>
                  <li class="nav-item">
                    
                    <button  mat-button class="nav-link" (click)="sortTitleByDescending()">   Title Descscending </button>
                  </li>
                  <li class="nav-item">
                    <button mat-button class="nav-link"(click)="sortByManufacturer()" >Manufacturer Ascending </button>
                  </li>
                  <li class="nav-item">
                    <button mat-button class="nav-link"(click)="sortManufacturerByDescending()" >Manufacturer Descending </button>
                  </li>
                  <li class="nav-item">
                    <button mat-button class="nav-link" (click)="sortPriceByDescending()">Price Ascending</button>
                  </li>
                  <li class="nav-item">
                    <button mat-button class="nav-link" (click)="sortByPrice()">Price Descending</button>
                  </li>
               
                </ul>
            
              </div>
        </div>

          
        </section>
    </li>
</ul>
<div  class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
    <a  class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Sort By</span>
    </a>

  </div>
</div>



<div class="main-div" > 
    <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of stockList" >
            <mat-card class="example-card" >
                <mat-card-header> 
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.manufaturer}}</mat-card-subtitle>
                  </mat-card-header>
            
                  <mat-card-content>
                    <p>    Price:      {{item.price}}
                    </p>
                 
                    <p>       Category:    {{item.category}}
                    </p>
              </mat-card-content>
                  <mat-card-actions>
                    <button (click)= addToCart(item) mat-button>Update quantity</button>
                  </mat-card-actions>
                </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
      </div>
      </main>
      </body>